<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django PaperMeta</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>paper_id</th>
            <th>create_time</th>
            <th>title</th>
            <th>author</th>
            <th>venue</th>
            <th>year</th>
            <th>citations</th>
        </tr>
        {% for item in li %}
        <tr>
            <td>{{ item.paper_id }}</td>
            <td>{{ item.create_time }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.author }}</td>
            <td>{{ item.venue }}</td>
            <td>{{ item.year }}</td>
            <td>{{ item.citations }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>